	
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


	*{
	padding:0;
	margin: 0;
	font-family: 'Poppins', sans-serif;

		}

	ul{

		padding-inline-start: 0px;
	}

	h1{

		color:#D50780;
	}

	.body{

		margin:0px;
		 overflow-x:hidden;
		
	}


	/*----------------------------------------------- Menu styles */

	
	.nav1 {
	  text-align:center;
	  width: 100%;
	  height: 100%;
	  justify-content: center;
	  align-items: center;
	  display: flex;
	}

	.nav___ul___left{
		display: inline-block;
		list-style-type: none;
		margin-top: 0px;

		

	}

	.nav___ul___right{
		display: inline-block;
		list-style-type: none;
		margin-top: 0px;	
		
	}

	.nav___a___img{
		display: inline-block;
		margin-left:6% ;
		margin-right:6%;
		padding-top: 20px;
		width: 110px;
		height: 100%;
		
	}

	.nav___li{
		display: inline-block;
		margin-top: 15px;
		margin-right: 30px;
		margin-bottom: 15px;
		color:#D50780;
		font-family: 'Poppins', sans-serif;
		font-size: 18px;
		font-weight:500 ;
	}

.background__menu{
		background-color: #D50780;
    width: 147px;
    height: 18px;
    position: absolute;
    top: -3px;
    transform: translate(-13px, 0px);
    transform: ;
    border-radius: 5px;
    box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 61%);
    
}

  .nav___background___scroll{
		position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    transition: all 1s;
}

.special__shape{
	position: absolute;
	width: 110%;
	height: 100%;
	z-index: -1;
	animation: taadaa 0.5s;
	transform: translate(75px, -2px);
}
@keyframes taadaa {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.special__shape__delect{
	width: 0;	

	
}

	/*------------------------------ Hover Animation text */


	.nav___li:hover > a {
	color: #FCEA21;
	
	}

	.nav___li:hover {
	color: #FCEA21;
	}


	.nav___li a{
	color:#D50780;
	text-decoration: none;
	text-align: center;

	}
	/*------------------------------ Hover Animation text */
.div___obj___static{
width: 10px;
  position: absolute;
  z-index: 5;
  margin-top: 600px;
  margin-left:  80px;
}
.obj___static{
	transform: rotate(270deg);
  text-orientation: upright;
  position: fixed;
  background-color: #D50780;
	color: #FFFFFF;
	padding: 10px;
  font-size: 18px;
  bottom: 220px;
  left: -30px;
  transition: 0.3s;
  box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 61%);
}


.obj___static:hover {
	transition: 0.5s;
	padding: 20px;
	background-color: #FF39AF;
	
}

.obj___static.active{
	background-color: #890B5F;
	transition: 0.5s;
	z-index: 40;
}

.obj___static.active:hover{
	padding: 10px;
}


.background__follow.active {

     background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    padding: 20px 160px;
    transform: rotate(270deg);
    position: fixed;
    left: -139px;
    top: 508px;
    transition: 0.3s;

}

.obj___static___follow2{
	transform: rotate(270deg);
  text-orientation: upright;
  position: fixed;
	padding: 10px;
	bottom: 340px;
	font-size: 14px;
	text-decoration:none;
	visibility: hidden;
	left: -20px;
	transition: 0.3s;
	opacity:0.0;
	color: #D50780;

}

.obj___static___follow2:hover{
	text-decoration-line: overline;
	text-decoration-color: #D50780;
	  animation-duration: 0.3s;
	  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
	  
}


.obj___static___follow3{
	transform: rotate(270deg);
  text-orientation: upright;
  position: fixed;
	padding: 5px;
	bottom: 440px;
	font-size: 14px;
	text-decoration:none;
	visibility: hidden;
	left: -20px;
	transition: 0.3s;
	opacity:0.0;
	color: #D50780;
}

.obj___static___follow3:hover{
	text-decoration-line: overline;
	text-decoration-color: #D50780;
	transition: 0.3s;
	opacity:1;
}

.obj___static___follow4{
transform: rotate(270deg);
  text-orientation: upright;
  position: fixed;
	padding: 5px;
	bottom: 540px;
	font-size: 14px;
	text-decoration:none;
	visibility: hidden;
	left: -20px;
	transition: 0.3s;
	opacity:0.0;
	color: #D50780;
}

.obj___static___follow4:hover{
	text-decoration-line: overline;
	text-decoration-color: #D50780;
	transition: 0.3s;
	opacity:1;
}

.obj___static___follow2.active{
	visibility: visible;
	color: #D50780;
	opacity:1.0;
}

.obj___static___follow3.active{
	visibility: visible;
	color: #D50780;
	opacity:1.0;
}	

.obj___static___follow4.active{
	visibility: visible;
	color: #D50780;
	opacity:1.0;
}

	/*----------------------------------------------- Menu styles */

.text2 {
	 	font-family: 'Poppins';
	 	font-size: 187px;
  color: #D41181;

	}

/*----------------------------------------------- header*/
.div___container___design {
		width: 70%;
		height: 100%;
		margin-top: 9%;
	 	margin-left: 13%;
	 	font-size: 180px;
	 	overflow: hidden;
	}

.div___container___design___p1{
display: inline-block;
margin-bottom: 10px;
margin-right: 100%;
font-family: 'Roboto', sans-serif;
position:absolute;
z-index: 10;
padding-bottom: 10px;
padding-right: 20px;
color: #FFFFFF;
-webkit-text-stroke: 2px #D50780;
}

.div___container___design___p2{
display: inline-block;
font-family: 'Roboto ', sans-serif;
color:#D50780;
margin-top: 150px;
}

.div___container___design__im1{
position: absolute;
z-index: -1;
width: 400px;
margin-left: 660px;
margin-top: 35px;
}


	/*----------------------------------------------- Menu styles */





	/*----------------------------------------------- About me styles */
	.div___container{
		display: block;
		width: 70%;
		height: 100%;
	 	text-align: center;
	 	margin-left: 13%;
	}


	


.container___tittle{
	color: #D50780;
    font-size: 9vw;
    font-weight: 700;
    line-height: 0.9;
    width: 50vw;
    margin-top: 30%;

}

.container___tittle___textbody{
	font-weight: 400;
    white-space: pre-line;
    font-size: 12pt;
    line-break: auto;
    line-height: 35pt;
}

.container___tittle2{
	color: #D50780;
    font-size: 7vw;
    font-weight: 600;
    line-height: 0.9;
    width: 50vw;
    margin-top: 20%;

}
.container___subtittle1{
	margin-top: 15%;
	font-size: 5vw;
    font-weight: 400;
    font-style: italic;
    line-height: 1;
    color: #000000;
}

.line__subtittle{
	padding-top: 40%;
    height: 80%;
    padding-left: 45%;
    height: 15vw;
}
.container___subtittle1___design{
	line-height: 2.5;
}

.container___subtittle1___development{
	line-height: 2.5;
}

.container___cv1{
	background-color: #D50780;

}

.container___cv2{
	background-color: #FCEA21;

}

.container___cv1___tittle{
	color: #FFFFFF;
    font-size: 7vw;
    font-weight: 600;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 25%;
}


button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
 

  
}
button.learn-more {
 	font-weight: 400;
    color: #D50780;
    padding: 1em 2em;
    background: #FFFFFF;
    border: 2px solid #FCEA21;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    font-family: 'Poppins';
    font-size: 1vw;
    z-index: 30;
    margin-left: 42vw;
    margin-top: -15%;
}

button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FCEA21;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #FFFFFF, 0 0.625em 0 0 #000000;

  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover {
  background: #D50780;
  transform: translate(0, 0.25em);
  color: #FFFFFF;
}
button.learn-more:hover::before {
  transform: translate3d(0, 0.5em, -1em);
}
button.learn-more:active {
  background:  #D50780;
  transform: translate(0em, 0.75em);
 border: 2px solid #FFFFFF;
}
button.learn-more:active::before {
  box-shadow: 0 0 0 2px #FFFFFF, 0 0 #FFFFFF;
  transform: translate3d(0, 0, -1em);

}



.prueba{
	height: 20vh;
}

img.mod_img__myphoto_ch{
 
    transition: all linear 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;

}

img.mod_img__myphoto_ch2{
 
    opacity:0;
   transition: all linear 1s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    transform: translateY(-105%);

}


.col-lg-2:hover .mod_img__myphoto_ch{
  opacity: 0;
    
}

.col-lg-2:hover .mod_img__myphoto_ch2{
opacity:1;
} 

.container___tittle3{
	color: #D50780;
    font-size: 7vw;
    font-weight: 600;
    line-height: 0.9;
    width: 50vw;
    margin-top: 20%;
    margin-bottom: 10%;

}


/* tarjetas hover */

.card-block .btn-outline-primary {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.card {
  margin: 20px 0;
}

/* Flip Cards CSS */
.card-container {
  perspective: 700px;
}
.card-flip {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  height: auto;
  transition: all 0.5s ease-out;
  background: white;
  border: none;
}
.img__card__abilities{
	padding-top: 8vh;
	margin-bottom: 2vh;
	padding-left: 2em;
	padding-right: 2em;
}


.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none;
}

.card-flip .front {
  position: relative;
  z-index: 1;
}

.card-flip .back {
  position: relative;
  z-index: 0;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

/* tarjetas hover */
.borderprue1{
background-color:  red;
}

.borderprue2{
background-color: black;
}

.borderprue3{
	background-color: yellow;
}


/*----------------------------------------------- About me styles */




